# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# pnpm
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example

# ignore everything in the root except the "wp-content" directory.
html/wp/*
!html/wp/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
html/wp/wp-content/*
!html/wp/wp-content/themes/
html/wp/wp-config-sample.php

# ignore these plugins
html/wp/wp-content/plugins/hello.php

# ignore specific themes
html/wp/wp-content/themes/twenty*/

# ignore the "docs" directory
docs

