@charset "UTF-8";

#site_header{

    position: relative;
    z-index: 998;
    padding-top: 32px;

    a{
        color: $black1;
    }

    #site_name{

        position: relative;

        #jpn{
            @extend .caption1;
            letter-spacing: -1px;
        }
        
        .cart_btn{
        
            position: absolute;
            width: 32px;
            text-align: center;
            
            a{
                    
                position: absolute;
                color: $black2;
                
                
                &._added{
                    color: $pink;
                }
                
                ._number{
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    width: 16px;
                    height: 16px;
                    // border: 2px solid $pink;
                    line-height: 16px;
                    text-align: center;
                    font-size: 12px;
                    background: rgba($red, .80);
                    color: $white;
                    @include border-radius(50%);
                }
                
            }
            
            ._icon{
                display: block;
                font-size: 32px;
            }
            ._text{
                display: block;
                font-size: 12px;
                line-height: 12px;
                margin-top: -2px;
            }
            
        }
        
        .qna_btn{
        
            position: absolute;
            width: 32px;
            text-align: center;
            
            a{
                color: $black2;
                &:hover{
                    color: $black3;
                }
            }
            
            ._icon{
                display: block;
                font-size: 32px;
            }
            ._text{
                display: block;
                font-size: 12px;
                line-height: 12px;
                margin-top: -2px;
            }
            ._text{
                display: block;
                font-size: 12px;
                line-height: 12px;
                margin-top: -2px;
            }
        
        }
        
        .shop_btn{
        
            position: absolute;
            width: 32px;
            text-align: center;
            a{
                color: $pink;
            }
            ._icon{
                display: block;
                font-size: 32px;
            }
            ._text{
                display: block;
                font-size: 12px;
                line-height: 12px;
                margin-top: -2px;
            }
            
        }


        //PC
        @media all and (min-width: $min_width){
        
            #eng{
                font-size: 32px;
                line-height: 32px;
            }

            .shop_btn{
                top: 4px;
                right: 0;
            }
            
            .qna_btn{
                top: 4px;
                right: 24px;
            }
            
            .cart_btn{
                top: 4px;
                right: 0;
            }

        }

        //Mobile
        @media all and (max-width: $max_width){

            #eng{
                font-size: 24px;
                line-height: 24px;
            }

            .shop_btn{
                top: 0;
                right: 48px;
            }
            
            .cart_btn{
                top: 4px;
                right: 16px;
            }

        }

    }


    .site_menu{

        @extend .caption1;

        //PC
        @media all and (min-width: $min_width){

            text-align: center;
            border-top: 1px solid $black5;
            border-bottom: 1px solid $black5;
            margin-top: 8px;

            li{
                display: inline-block;
                line-height: 52px;
                padding-left: 8px;
                padding-right: 8px;
                text-align: center;
            }

        }

        //Mobile
        @media all and (max-width: $max_width){

            width: 100%;
            margin-top: 16px;

            &#site_menu_smaller{
                display: none;
            }

            li{
                margin-top: 8px;
                padding-top: 8px;
                border-top: 1px solid $black5;
                a{
                    display: block;
                }
            }

        }

    }


    #icon_site_menu{

        display: block;
        position: absolute;
        right: 8px;

        &:before{
            display: block;
            width: 44px;
            height: 44px;
            line-height: 44px;
            @include border-radius(50%);
            background: $blue6;
            color: $white;
            text-align: center;
        }

        &.close_site_menu{
            &:before{
                background: $black2;
            }
        }

    }

    &.relative{

        position: relative;

        //Mobile
        @media all and (max-width: $max_width){

            .site_menu{
                padding-bottom: 8px;
                border-bottom: 1px solid $black5;
            }

        }

        #icon_site_menu{
            top: 32px;
        }

    }

    &.fixed{

        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        background: $white;
        border-bottom: 1px solid $black5;

        #icon_site_menu{
            top: 16px;
        }

    }


}