@charset "UTF-8";

.home{

//**************************************************************
//
//**************************************************************

article{

	padding-top: 0;
	padding-bottom: 0;

}

//**************************************************************
// #site_header
//**************************************************************

#site_header{

	&.relative{

		color: $white;
		a{
			color: $white;
		}

		#site_name{
			#eng,
			#jpn{
				color: $white;
				&:hover{
					color: $black2 !important;
				}
			}
		}

		.site_menu{
			border-top-color: rgba($white, .23);
			border-bottom-color: rgba($white, .23);
		}

	}
}


//**************************************************************
// video
//**************************************************************

#video_background_mask{
	position: absolute;
	z-index:  1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba($black, .54);
}

#video_background{
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media screen and (max-device-width: $max_width) {

	html &{
		background-image: url(assets/img/home/bg.jpg);
		@include background-size(auto, 100%);
		background-position: center center;
		//background-repeat: no-repeat;
		//background-attachment: fixed;
	}
	#video_background{
		display: none;
	}

}


.video_container{

	@media all and (min-width: $min_width){

		&#home_video{
			z-index:  1000;
			top: 50%;
			left: 50%;
			width: 853px;
			height: 480px;
			margin-top: -240px;
			margin-left: -426.5px;
		}

	}

	@media all and (max-width: $max_width){

		&#home_video{
			z-index:  1000;
			top: 10%;
			height: 100px;
		}

	}

}

//**************************************************************
// #main_visual
//**************************************************************

#main_visual{

	color: $white;

	//h1
	h1{
		color: $white;
	}

	//#play_video
	#play_video{
		margin-top: 16px;
		margin-bottom: 16px;
		color: $green6;
		@extend .subhead2;
		&:before{
			margin-right: 8px;
			font-family: meterial_design;
			content: "\e6bd";
		}
		&:hover{
			color: $black2;
		}
	}

	@media all and (min-width: $min_width){

		padding-top: 112px;
		padding-bottom: 144px;
		text-align: center;

		//.btn
		.btn{
			text-align: left;
		}

	}

	@media all and (max-width: $max_width){

		padding-top: 56px;
		padding-bottom: 112px;

	}

}

//**************************************************************
// #sections
//**************************************************************

#sections{
	padding-bottom: 72px;
}

//**************************************************************
// #latest
//**************************************************************

#latest{
	margin-top: 56px;
}

//**************************************************************
// owl-slider
//**************************************************************

.owl-item,
.owl-stage-outer{
	position: relative;
	z-index: 2;
}

.owl-controls{
	z-index: 1;
}


}