@charset "UTF-8";

.order_jp,
.order_en{

	@media all and (min-width: $min_width){

		.dvd_contents{
			margin-top: 32px;
			padding-top: 32px;
			border-top: 1px solid rgba($black5, .5);
		}
		.dvd_img{
			width: 144px;
			float: left;
		}
		.dvd_info{
			width: 464px;
		}

	}

	@media all and (max-width: $max_width){

		.dvd_contents{
			margin-top: 16px;
			padding-top: 16px;
			border-top: 1px solid rgba($black5, .5);
			line-height: 24px !important;
			&:last-of-type{
				margin-bottom: 32px;
				padding-bottom: 16px;
				border-bottom: 1px solid rgba($black5, .5);
			}
		}
		.dvd_title{
			float: left;
			width: 80%;
			line-height: 28px !important;
		}
		.dvd_price{
			float: left;
			width: 80%;
		}
		.dvd_img{
			width: 64px;
			float: right;
		}
		.dvd_title_price{
			position: relative;
		}
		.more_details{
			display: inline-block;
			margin-top: 8px;
			padding: 4px;
			@include border-radius(4px);
			background: rgba($black5, .5);
			font-size: 12px;
			&:after{
				display: inline-block;
				margin-left: 4px;
				font-family: meterial_design;
				text-align: center;
				content: "\e7c1";
			}
			&.close{
				background-color: rgba($blue6, .1);
				&:after{
					content: "\e7c4";
				}
			}
		}

	}

	#movie_my_indian_diary_details_jp{
		select+label{
			margin-left: 0;
		}
	}

}