@charset "UTF-8";

//**************************************************************
// General settings
//**************************************************************

html, body{
	position: relative;
	color: $black1;
	@extend .body1;
	font-family: "Dosis", sans-serif, "Yu Gothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
	background-color: $white;
	-webkit-text-size-adjust: auto;
	-webkit-appearance: none;
}

@media all and (min-width: $min_width){

	.container{
		width: $max_width;
		margin: 0 auto;
	}
}
@media all and (max-width: $max_width){

	.container{
		padding-left: 8px;
		padding-right: 8px;
	}
}

article, footer{
	position: relative;
	z-index: 990;
}

article{
	padding: 32px 0 72px 0;
}
