@charset "UTF-8";

.al_r{
	text-align: right;
}

.block{
	display: block;
}
.inline_block{
	display: inline-block;
}

a{
	text-decoration: none;
	color: $blue;

	&[target="_blank"]{
		display: inline-block;
		&:after{
			margin-left: 4px;
			font-family: meterial_design;
			content: "\e648";
		}
	}

	&:hover{
		color: $black2 !important;
	}

	.film &{
		color: $pink;
	}

}

.clear{
	display: block;
	clear: both;
}

.floating_grids{
	margin: 0 auto;
}
.grid_item{

	//PC
	@media all and (min-width: $min_width){
		margin: 8px;
	}

	//Mobile
	@media all and (max-width: $max_width){
		width: 100%;
	}
}

.crumbs{

	&:before{
		margin-right: 8px;
		font-family: meterial_design;
		content: "\e7b3";
		color: $black3;
	}

	.crumb{

		display: inline-block;
		font-size: 14px;
		line-height: 20px;

		a{
			color: $black2;
			&:hover{
				color: $pink !important;
			}
		}

		&:not(:last-of-type){

			&:after{
				font-family: meterial_design;
				content: "\e7c3";
				color: $black3;
			}

			a{
				color: $black1;
			}

		}

	}

}

.contents{

	margin-top: 56px;
	padding-top: 56px;
	border-top: 1px solid rgba($black5, .5);

	.contents_title{
		margin-bottom: 16px;
		font-size: 24px;
		line-height: 40px;
	}

}

.list_archives{
	> li{
		display: inline-block;
		&:not(:first-of-type){
			margin-left: 4px;
		}
		a, &.tab{
			padding: 4px;
		}
	}
}
.list_archives_past{
	>li{
		display: inline-block;
		&:not(:first-of-type){
			margin-left: 4px;
		}
		a{
			display: block;
			padding: 4px;
			color: $black2;
			&:hover{
				color: $black1;
			}
		}

	}
	&.border_on{
		>li{
			a{
				border: 1px solid rgba($black1, .1);
				@include border-radius(4px);
				&:hover{
					border: 1px solid transparent !important;
					background-color: rgba($blue6, .1);
				}
			}
			&.is_active{
				a{
					background-color: rgba($black1, .06);
					&:hover{
						border: 1px solid transparent !important;
						background-color: rgba($blue6, .1);
					}
				}
			}
		}
	}
}
.list_posts{

	> li{

		padding-top: 56px;
		&:not(:first-of-type){
			margin-top: 56px;
			border-top: 1px solid rgba($black5, .5);
		}

	}

	.list_post_info{
		margin-top: 8px;
		>li{
			display: inline-block;
		}
	}

	.list_post_contents{
		margin-top: 8px;
	}

	.list_post_time{
		margin-top: 8px;
		@extend .caption1;
	}

	&.list_events{

		> li{
			position: relative;
			margin-top: 32px;
			padding-top: 32px;
			&:after{
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 48px;
				height: 48px;
				margin-top: -12px;
				@include border-radius(50%);
				font-family: meterial_design;
				line-height: 48px;
				text-align: center;
				content: "\e7c3";
			}
			&:hover{
				&:after{
					background-color: rgba($blue6, .1);
				}
			}
		}
		a{
			display: block;
			padding-right: 48px;
			color: $black !important;
			&:hover{
				color: $black2 !important;
			}
		}
	}

}


.list_definition{
	dt, dd{
		float: left;
	}
	dt{
		clear: both;
		margin-right: 8px;
	}
	dd{
		&:before{
			margin-right: 8px;
			font-family: meterial_design;
			color: $black3;
			content: "\e7c3";
		}
	}
}

.list_films{

	li{

		@media all and (min-width: $min_width){

			max-width: 304px;
			&:nth-of-type(3n+1){
				clear: both;
			}

			.film_poster{
				overflow: hidden;
				height: 316px;
			}

		}

		a{
			display: block;

			&:hover{
				.film_title{
					color: $black3;
					&:after{
						background: $blue;
					}
				}
			}

		}

		.film_title{

			position: relative;
			margin-top: 8px;
			padding-right: 32px;
			color: $black1;
			line-height: 20px;


			&:after{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 24px;
				height: 24px;
				line-height: 24px;
				@include border-radius(50%);
				background: $black3;
				font-family: meterial_design;
				text-align: center;
				color: $white;
				content: "\e8a4";
			}

		}

	}

}

.index{
	position: relative;
	//display: inline-block;
	margin-right: 8px;
	padding-left: 24px;
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		color: $black2;
		font-family: meterial_design;
	}
	&.place{ &:before{ content: "\e65e"; }}
	&.date{ &:before{ content: "\e8ba"; }}
	&.time{ &:before{ content: "\e85d"; }}
	&.fee{ &:before{ content: "\e88c"; }}
	&.film{ &:before{ content: "\e6b2"; }}
	&.label{ &:before{ content: "\e63c"; }}
	&.appendix{ &:before{ content: "\e639"; }}
	&.flag{ &:before{ content: "\e70b"; }}
}


.more{
	display: inline-block;
	margin-top: 48px;
}


.btn{

	a{
		display: block;
		position: relative;
		min-width: 144px;
		padding: 16px;
		border: none;
		@include border-radius(2px);
		@include box-sizing(border-box);
		border: 1px solid $black4;
		background: none;
		color: $black1;
		font-size: 20px;
		line-height: 20px;
	}

	//.priority1
	&.priority1{
		a{
			border: none;
			background: rgba($blue6, .87);
			color: $white;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&:hover{
				background: rgba($blue6, 1);
			}
		}
	}

	//.priority2
	&.priority2{
		a{
			border: 1px solid $blue6;
			color: $blue6;
			&:hover{
				border-color: $black2;
			}
		}
	}

	//PC
	@media all and (min-width: $min_width){
		font-size: 24px;
		line-height: 24px;
	}

	//Mobile
	@media all and (max-width: $max_width){

		margin-top: 8px;
		margin-bottom: 8px;

	}

}


.open_contents{
	position: relative;
	color: $green;
	cursor: pointer;
	&:hover{
		color: $black2;
	}
}
.close_contents{
	color: $black2;
}
.show_contents{

	border: 1px solid $black5;
	@include border-radius(4px);
	&:hover{
		color: $black2;
		cursor: pointer;
	}
	&.is_active{
		border: 1px solid transparent;
		background-color: rgba($blue6, .1);
	}

}

//**************************************************************
// padding, margin
//**************************************************************

@for $i from 0 through 10 {
	.m#{$i}{ margin: 8px * $i; }
	.m#{$i}_t{ margin-top: 8px * $i; }
	.m#{$i}_b{ margin-bottom: 8px * $i; }
	.m#{$i}_l{ margin-left: 8px * $i; }
	.m#{$i}_r{ margin-right: 8px * $i; }
	.p#{$i}{ padding: 8px * $i; }
	.p#{$i}_t{ padding-top: 8px * $i; }
	.p#{$i}_b{ padding-bottom: 8px * $i; }
	.p#{$i}_l{ padding-left: 8px * $i; }
	.p#{$i}_r{ padding-right: 8px * $i; }
}


.owl-carousel{

	margin-bottom: 40px;

		.owl-prev,
		.owl-next{
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -24px;
			width: 48px;
			height: 48px;
			line-height: 48px;
			@include border-radius(50%);
			background: rgba($white, .23);
			text-align: center;
			&:before{
				display: block;
				font-family: meterial_design;
				font-size: 24px;
				color: rgba($black, .56);
				content: "\e6bb";
			}
		}
		.owl-next{
			right: 8px;
		}
		.owl-prev{
			left: 8px;
			&:before{
				@include rotate(180deg);
			}
		}
		.owl-dots{
			position: absolute;
			bottom: -40px;
			width: 100%;
			text-align: center;
		}

}


blockquote, q{

	display: block;
	position: relative;

	&:before{
		display: block;
		position: absolute;
		z-index: -1;
		width: 88px;
		color: rgba($black5, .2);
		font-size: 112px;
		font-family: "meterial_design";
		content: "\e793";
	}
	&:before{
		top: 0;
		left: 0;
		@include rotate(180deg);
	}

}

.hidden{
	display: none;
}


@media all and (max-width: $max_width){
	.show_wider{
		display: none;
	}
}

@media all and (min-width: $min_width){
	.show_smaller{
		display: none;
	}
}


.overlay{

	display: none;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
	background: rgba($black, .87);

	&#lightbox{
		#show{

			position: absolute;
			overflow: scroll;
			top: 5%;
			left: 50%;
			width: $max_width;
			max-width: $max_width;
			height: 640px;
			margin-left: -480px;

			img{
				display: block;
				margin: 0 auto;
			}

		}
	}

}

.video_container{

	position: fixed;
	z-index: 2;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.video{

	position: relative;
	z-index: 1;
	padding-bottom: 56.25%;
	width: 100%;
	height: 0 !important;

	iframe{
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		width: 100%;
		height: 100%;
		max-height: 810px;
	}

}

#additional{

	z-index: 9999;

	.icon_btn{

		width: 40px;
		height: 40px;
		line-height: 40px;

		&#twitter{
			font-size: 40px;
		}

		&#facebook{
			font-size: 40px;
		}

		&#en_btn{
			background: rgba($green6, .6);
			@include border-radius(50%);
			text-align: center;

			a{
				color: $white;
			}

		}

		&#go_top{

			background: rgba($black5, .6);
			@include border-radius(50%);
			text-align: center;

			a{
				color: $black1;
			}

		}

		[target="_blank"]{
			&:after{
				content: "";
			}
		}

	}


	@media all and (min-width: $min_width){

		.icon_btn{

			display: block;
			position: fixed;
			z-index: 9999;
			right: 8px;

			&#twitter{
				top: 80px;
			}

			&#facebook{
				top: 128px;
			}

			&#en_btn{
				top: 32px;
			}

			&#go_top{
				bottom: 32px;
			}

		}

	}

	@media all and (max-width: $max_width){

		position: fixed;
		bottom: 8px;
		width: 100%;
		//height: 48px;
		padding-left: 8px;
		padding-right: 8px;
		@include box-sizing(border-box);

		.icon_btn{

			display: inline-block;
			vertical-align: top;

			&#go_top{
				position: absolute;
				top: 0;
				right: 8px;
			}

		}

	}

}
