@charset "UTF-8";


.col{
    @include box-sizing(border-box);
}

//PC
@media all and (min-width: $min_width){

    .col{
        float: left;
        margin-left: 8px;
        margin-right: 8px;
    }

    @for $i from 1 through 12 {
        .col_#{$i}{ width: 64px * $i + (16 * ($i - 1)); }
    }

    .last{ float: right; }

    .single{
        float: inherit;
        width: 720px;
        margin: 0 auto;
    }
    
    .single_pafshop{
        float: inherit;
        width: 480px;
        margin: 0 auto;
    }

}

