@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-text:not([aria-disabled='true']) {
    @apply text-blue-600 underline sm:hover:no-underline sm:hover:text-blue-400;
  }
  .link-text[aria-disabled='true'] {
    @apply text-gray-500 pointer-events-none;
  }

  .link-text[target='_blank']::after {
    content: '↗︎';
  }
}

.wrapper {
  @apply relative min-w-80 max-w-screen-sm min-h-dvh mx-auto px-4 pt-8 pb-8 sm:px-16;
}

.palt {
  font-feature-settings: 'palt';
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

*:focus {
  outline: none;
}

/* ブログ記事内 */
.m2_t {
  margin-top: 1em;
}
