@charset "UTF-8";

.comments{
	margin-top: 48px;
}
.comment-respond{
	margin-top: 48px;
}

.comments_list{
	> li{
		&:not(:first-of-type){
			margin-top: 16px;
		}
	}
}

.comment-meta{
	@extend .caption1;
	a{
		color: $black2;
	}
}

.children{
	margin-top: 16px;
	padding-left: 16px;
	border-left: 1px solid $black5;
}

.comment-author{

	&:before{
		margin-right: 4px;
		font-family: meterial_design;
		content: "\e6e0";
		color: $black3;
	}

	.children &{
		&:before{
			margin-right: 0;
			content: "";
		}
	}
}

.comment-edit-link{
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	@include border-radius(2px);
	border: 1px solid $black5;
	&:hover{
		background: $black5;
	}
}


.comment-reply-title{
	a{
		font-size: 14px;
		line-height: 20px;
	}
}

.comment-awaiting-moderation{
	display: inline-block;
	margin-bottom: 4px;
	padding-left: 8px;
	padding-right: 4px;
	@include border-radius(2px);
	background: $pink6;
	color: $white;

}