@charset "UTF-8";

.cashier{

.order_details{

    ._item{
        &:not(:first-of-type)
        {
            margin-top: 8px;
            padding-top: 8px;
            border-top: 1px solid $black5;
        }
    }
    
    ._name{
        line-height: 24px;
    }
    
    ._details{
        
        padding-top: 4px;
        
        .__detail_unit_amount_sum{
            display: grid;
            grid-template-columns: 72px 1fr 72px;
            align-items: center;
        }
        
        .___btn_delete{
            display: inline-block;
            margin-left: 4px;
            color: $black2;
            font-size: 14px;
            &:hover{
                color: $blue;
            }
        }
        
        .__sum{
            padding-right: 4px;
        }
    
    }
    
    ._subtotal{
        margin-top: 4px;
        padding: 4px;
        background: $black5;
        @include box-sizing(border-box);
        text-align: right;
    }
    
    @media all and (min-width: $min_width){
    
        ._details{   
            display: grid;
            grid-template-columns: 200px 1fr;
            align-items: center;
            
        }
    
    }
    
    @media all and (max-width: $max_width){
    
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // align-items: center;
    
    }
   
}

.fee{
    border-top: 1px solid $black4;
    text-align: right;
    margin-top: 8px;
    padding-top: 8px; 
    padding-right: 4px;
}
    
.total{   
    margin-top: 4px;
    padding: 4px;
    background: $black4;
    @include box-sizing(border-box);
    text-align: right;
    font-weight: bold;
}

._fee_index{
    display: inline-block;
    width: 64px;
    text-align: rigth;
}
._fee_amount{
    display: inline-block;
    width: 80px;
}

.confirm_btns{
    width: 304px;
    text-align: left;
}

.purchase_details{
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    
    &:before{
        position: absolute;
        top: 4px;
        bottom: 0;
        left: 16px;
        width: 1px;
        background: $black5;
        content: '';
    }
    
    .grid{
        position: relative;
    }
    
    @for $i from 1 through 6{
        @for $j from 1 through 2{
            ._#{$i}_#{$j}{
                grid-row: $i;
                grid-column: $j;
            }
        }
    }
    
    .step_icon{
        display: block;
        width: 32px;
        height: 32px;
        @include border-radius(50%);
        line-height: 32px;
        background: $black5;
        color: $pink;
        &._processing{
            background: $pink;
            color: $white;
        }
        &._completed{
            background: $black5;
            color: $black2;
        }
    }
    
    .form_ele{
        padding-left: 12px;
        
        &._required{
            position: relative;
            &:before{
                position: absolute;
                left: 0;
                color: $red;
                content: '*';
            }
        }
        
    }
    
    .error_message{
        display: block;
        color: $red;
        font-size: 14px;
        line-height: 20px;
    }
    
    .contents_law{
        display: block!important;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: visible;
        height: 160px;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid $black5;
        line-height: 20px;
        font-size: 14px;
        h2, h3, p{
            line-height: 20px;
            font-size: 14px;
        }
        .p2_t{
            padding-top: 0 !important;
        }
        .contents{
            display: none;
        }
    }
    strong{
        font-weight: bold;
    }
    
    .btn_edit_user_info{
        display: inline-block;
        margin-left: 4px;
        padding: 2px 4px;
        border: 1px solid $black5;
        @include border-radius(2px);
        font-size: 16px;
        line-height: 24px;
        &:hover{
            border-color: $green;
            color: $green;
        }
    }
    
    ._method{
    
        display: grid;
        grid-template-columns: 24px 1fr;
        align-items: top;
    
        .__logo{
            img{
                height: 22px;
                vertical-align: middle;;
            }
            span{ vertical-align: middle; }
            &._japannet{
                img{
                    height: 16px;
                }
            }
            &._credit_card{
                img{
                    height: 27px;
                }
            }
        }
        
    }
    
    .reset_payment{
        color: $blue;
        &:hover{
            color: $black2;
        }
    }
    
    
    @media all and (max-width: $max_width){
        .form_ele{
            input[type="text"],
            input[type="email"],
            input[type="number"],
            input[type="date"],
            input[type="password"]{
                width: 100%;
                min-width: 100%;
            }
        }
    }
    
}
   
.card_element{
    padding: 8px;
    border: 3px solid $red;
    background: $white;
    &.disabled{
        border-color: $black5;
        pointer-events: none;
    }
}

.btn{

    //.pay
    &.pay{
        a, .ele{
            border: none;
            background: rgba($red, .87);
            color: #ffff00;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &:hover{
                background: rgba($red, 1);
            }
        }
    }
    
}

.list_faq{
    dt{
        position: relative;
        padding-left: 24px;
        // @extend .subhead2;
        &:not(:first-of-child){
            color: red;
        }
        &:before{
            display: block;
            position: absolute;
            left: 0;
            content: 'Q';
            // font-size: 16px;
        }
    }
    dd{
        position: relative;
        padding-left: 24px;
        &:before{
            display: block;
            position: absolute;
            left: 0;
            content: 'A';
        }
    }
}

}
