@charset "UTF-8";

.films{

#film_poster{

	._img{
		height: 320px;
		@include box-sizing(border-box);
		border: 1px solid $black5;
		text-align: center;
		
		img{
			height: 100%;
		}
	}

	@media all and (max-width: $max_width){
		max-width: 304px;
		margin-top: 16px;
	}

}

.list_posts{
	> li{
		padding-top: 0;
	}
}

.grid_item{
	margin-bottom: 16px;
	p{
		margin-top: 8px;
	}
}

.list_films{

	li{
		margin-top: 56px;
		._img{
			text-align: center;
			height: 320px;
			@include box-sizing(border-box);
			border: 1px solid $black5;
			img{
				height: 100%;
			}
		}
	}

}

.btn{

	//.priority1
	&.priority1{
		a{
			background: rgba($pink6, .87);
			&:hover{
				background: rgba($pink7, 1);
			}
		}
	}

}

}