@charset "UTF-8";

.takahatadai73{

$yellow: #e6e100;
$yellow_shadow: #ced81c;
$tkhtd_green: #009177;
$tkhtd_green_shadow: #a1e9d6;
$blue: #014899;
$black: #2e2e2e;
$gray: #515151;
$ur: #73184b;
$white: #f4f6ec;
$beige: #f5f5dc;

.tkhtd_green{ color: $tkhtd_green; }
.tkhtd_ur{ color: $ur; }

html &{
    background-image: url(assets/img/takahatadai73/bg.jpg);
    @include background-size(100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p + p{
    margin-top: 8px;
}

strong{
    font-weight: bold;
}

small{
    font-size: 12px;
}

.text_shadow_white{
    @include text-shadow(
            1px  1px 0 rgba($white, .56)
        ,  1px -1px 0 rgba($white, .56)
        , -1px  1px 0 rgba($white, .56)
        , -1px -1px 0 rgba($white, .56)
        ,  1px  0px 0 rgba($white, .56)
        ,  0px  1px 0 rgba($white, .56)
        , -1px  0px 0 rgba($white, .56)
        ,  0px -1px 0 rgba($white, .56)
    );
}

.contents{
    border-top: none;
    p, dl, h3{
        @include text-shadow(
               1px  1px 0 rgba($white, .56)
            ,  1px -1px 0 rgba($white, .56)
            , -1px  1px 0 rgba($white, .56)
            , -1px -1px 0 rgba($white, .56)
            ,  1px  0px 0 rgba($white, .56)
            ,  0px  1px 0 rgba($white, .56)
            , -1px  0px 0 rgba($white, .56)
            ,  0px -1px 0 rgba($white, .56)
        );
    }
}

.contents_title{
    position: relative;
    @include skewY(-2deg);
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 32px;
    color: $tkhtd_green;
    letter-spacing: -2px;
    text-align: center;
    font-family: 'Sawarabi Gothic';
    @include text-shadow(
           2px  2px 0 rgba($tkhtd_green_shadow, .24)
        ,  2px -2px 0 rgba($tkhtd_green_shadow, .24)
        , -2px  2px 0 rgba($tkhtd_green_shadow, .24)
        , -2px -2px 0 rgba($tkhtd_green_shadow, .24)
        ,  2px  0px 0 rgba($tkhtd_green_shadow, .24)
        ,  0px  2px 0 rgba($tkhtd_green_shadow, .24)
        , -2px  0px 0 rgba($tkhtd_green_shadow, .24)
        ,  0px -2px 0 rgba($tkhtd_green_shadow, .24)
    );

    ._text{
        display: inline-block;
        position: relative;
        background: $yellow;
        padding: 8px 16px;
    }
    
    ._sub_text{
        display: block;
        margin-top: 8px;
        font-size: 24px;
        color: $gray;
        @include skewY(2deg);
        letter-spacing: 0;
    }
}

.btn_action{
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;   
    @include border-radius(2px);
    background: rgba($green, .80);
    color: $white;
    font-size: 12px;
    cursor: pointer;

    &:hover{
        background: rgba($gray, .56)
    }
}
  

//**************************************************************
// .greeting_director
//**************************************************************

.greeting_director{
    position: relative;
    padding: 16px;
    background: rgba($white, .24);
}

//**************************************************************
// .main_visual
//**************************************************************

.main_visual{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
    text-align: center;

    ._flag{
        display: block;
        width: 304px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 16px;
        background: $yellow;
        @include box-sizing(border-box);
        @include skewY(-5deg);
        color: $white;
        font-weight: 2000;
        letter-spacing: -5px;
        font-family: 'Sawarabi Gothic';
        font-size: 56px;
        line-height: 68px;
        @include text-shadow(
               2px  2px 0 $yellow_shadow
            ,  2px -2px 0 $yellow_shadow
            , -2px  2px 0 $yellow_shadow
            , -2px -2px 0 $yellow_shadow
            ,  2px  0px 0 $yellow_shadow
            ,  0px  2px 0 $yellow_shadow
            , -2px  0px 0 $yellow_shadow
            ,  0px -2px 0 $yellow_shadow
        );
        &:nth-of-type(2)
        {
            margin-top: 16px;
        }
        
    }
    
    @media all and (min-width: $min_width){
        ._flag{
            width: 400px;
            .block{
                display: inline;
            }
        }
    }

    ._subtitle{
        position: relative;
        margin-top: 112px;
        line-height: 42px;
        font-family: 'Sawarabi Mincho';
        @include text-shadow(
               1px  1px 0 rgba($white, .12)
            ,  1px -1px 0 rgba($white, .12)
            , -1px  1px 0 rgba($white, .12)
            , -1px -1px 0 rgba($white, .12)
            ,  1px  0px 0 rgba($white, .12)
            ,  0px  1px 0 rgba($white, .12)
            , -1px  0px 0 rgba($white, .12)
            ,  0px -1px 0 rgba($white, .12)
        );
        
    
        @media all and (max-width: $max_width){
            .block{
                display: inline;
            }
        }
        
    }
    
}

//**************************************************************
// .key_messages
//**************************************************************

.key_messages{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    ._message{
        position: absolute;
        margin-top: 32px;
        &:nth-of-type(1){ top: 0; }
        &:nth-of-type(2){ top: 30%; }
        &:nth-of-type(3){ top: 60%; }
    }

    .__ur{
        position: relative;
        display: inline-block;
        padding: 8px 16px;
        border: 3px solid $ur;
        color: $ur;
        &:before{
            position: absolute;
            top: -24px;
            left: -4px;
            color: $ur;
            @include text-shadow(
                1px  1px 0 rgba($white, .12)
                ,  1px -1px 0 rgba($white, .12)
                , -1px  1px 0 rgba($white, .12)
                , -1px -1px 0 rgba($white, .12)
                ,  1px  0px 0 rgba($white, .12)
                ,  0px  1px 0 rgba($white, .12)
                , -1px  0px 0 rgba($white, .12)
                ,  0px -1px 0 rgba($white, .12)
                );
            content: 'URは言います';
        }
    }

    .__rsdt{
        
        position: absolute;
        width: 304px;
        height: 96px;
        margin-top: 32px;
        top: 24px;
        @include skewY(-2deg);
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        color: $tkhtd_green;
        letter-spacing: -2px;
        @include text-shadow(
               2px  2px 0 $tkhtd_green_shadow
            ,  2px -2px 0 $tkhtd_green_shadow
            , -2px  2px 0 $tkhtd_green_shadow
            , -2px -2px 0 $tkhtd_green_shadow
            ,  2px  0px 0 $tkhtd_green_shadow
            ,  0px  2px 0 $tkhtd_green_shadow
            , -2px  0px 0 $tkhtd_green_shadow
            ,  0px -2px 0 $tkhtd_green_shadow
        );
        &:before{
            position: absolute;
            top: -16px;
            left: -4px;
            background: $yellow;
            width: 160px;
            height: 12px;
            content: '';
        }
        &:after{
            position: absolute;
            top: -36px;
            left: 4px;
            color: $tkhtd_green;
            font-size: 16px;
            letter-spacing: 0;
            content: '住民はURに言います';
            @include text-shadow(
                    2px  2px 0 rgba($tkhtd_green_shadow, .24)
                ,  2px -2px 0 rgba($tkhtd_green_shadow, .24)
                , -2px  2px 0 rgba($tkhtd_green_shadow, .24)
                , -2px -2px 0 rgba($tkhtd_green_shadow, .24)
                ,  2px  0px 0 rgba($tkhtd_green_shadow, .24)
                ,  0px  2px 0 rgba($tkhtd_green_shadow, .24)
                , -2px  0px 0 rgba($tkhtd_green_shadow, .24)
                ,  0px -2px 0 rgba($tkhtd_green_shadow, .24)
            );
        }
    }
    
    @media all and (min-width: $min_width){
        ._message{
            // margin-top: 112px;
        }
        
        .__rsdt{
            // position: absolute;
            // top: 16px;
            // right: -280px;
        }
    }
    

}

//**************************************************************
// .greeting_residents
//**************************************************************

.greeting_residents{

    .contents_title{
        margin-bottom: 0;
    }
}

//**************************************************************
// .about_ur
//**************************************************************

.about_ur{

    ._title{
        margin-bottom: -9px;
        font-size: 32px;
        color: $ur;
        @include text-shadow(
            1px  1px 0 rgba($white, .56)
            ,  1px -1px 0 rgba($white, .56)
            , -1px  1px 0 rgba($white, .56)
            , -1px -1px 0 rgba($white, .56)
            ,  1px  0px 0 rgba($white, .56)
            ,  0px  1px 0 rgba($white, .56)
            , -1px  0px 0 rgba($white, .56)
            ,  0px -1px 0 rgba($white, .56)
            );
    }
    
    ._wrapper{
        
        position: relative;
    }
        
        
        ._timeline{
            padding-top: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            padding-left: 8px;
            @include box-sizing(border-box);
            font-size: 14px;
            line-height: 20px;

            large{
                font-size: 16px;
            }

            .__contents{
                &:not(:first-of-type){
                    margin-top: 16px;
                }
            }


            .__logo{
                img, span{
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 24px;
                }
                img{ height: 22px; }
                margin-top: 8px;
                margin-bottom: 8px;
                @include text-shadow(
                    1px  1px 0 rgba($white, .56)
                    ,  1px -1px 0 rgba($white, .56)
                    , -1px  1px 0 rgba($white, .56)
                    , -1px -1px 0 rgba($white, .56)
                    ,  1px  0px 0 rgba($white, .56)
                    ,  0px  1px 0 rgba($white, .56)
                    , -1px  0px 0 rgba($white, .56)
                    ,  0px -1px 0 rgba($white, .56)
                );
            }

            .__year{
                position: relative;
                color: $ur;
                &:before{
                    position: absolute;
                    display: block;
                    left: -10px;
                    top: 5px;
                    width: 8px;
                    height: 8px;
                    @include border-radius(50%);
                    background: $ur;
                    content: '';
                }
            }

        }
    
    @media all and (min-width: $min_width){
    
        ._contents{
            float: left;
            width: 480px;
            @include box-sizing(border-box);
            padding: 16px;
            border: 3px solid $ur;
        }
        
        ._timeline{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 224px;
            height: 100%;
            .__contents{
                &:not(:first-of-type){
                    margin-top: 48px;
                }
            }

        }
        
    }
    
    @media all and (max-width: $max_width){
    
        ._contents{
            margin-top: 32px;
        }
        
        ._timeline{
            border: 1px solid $ur;
            margin-top: 16px;
        }
        
    }
    
}

//**************************************************************
// .timeline
//**************************************************************

.timeline{

    position: relative;
    
    .contents_title{
        margin-bottom: 0;
    }
        
    ._wrapper{
        position: relative;
        margin-top: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        &:before{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 1px;
            background: $white;
            content: '';
        }
        > *{
            position: relative;
        }
    }

    ._display_all_timeline{
        
        position: absolute;
        top: 16px;
        left: 50%;
        width: 56px;
        height: 56px;
        margin-left: -28px;  
        padding-top: 6px;
        @include border-radius(50%);
        @include box-sizing(border-box);
        border: 2px solid $white;
        background: $tkhtd_green_shadow;
        color: $tkhtd_green;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        text-align: center;
        
        &._displayed{
            background: $white;
        }
    }
    
    ._label_title{
        display: inline-block;
        width: 49%;
        text-align: center;
    }
    
    ._label_category{
        padding: 4px;
        background: rgba($white, .80);
        line-height: 24px;
    }

    ._label_year{
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 2px solid $white;
        @include border-radius(50%);
        background: $tkhtd_green;
        color: $white;
        font-size: 12px;
        line-height: 32px;
    }

    ._label_month{

        clear: both;
        position: relative;
        
        ._text{
            display: block;
            position: relative;
            width: 28px;
            height: 28px;
            line-height: 28px;
            margin-left: auto;
            margin-right: auto;
            @include border-radius(50%);
            background: $tkhtd_green_shadow;
            border: 2px solid $white;
            color: $tkhtd_green;
            font-size: 12px;
            cursor: pointer;
        }
       

        &._hasUrData{
            ._text{
                &:before{
                    position: absolute;
                    left: -16px;
                    color: $tkhtd_green;
                    font-family: meterial_design;
                    content: '\e6bb';
                    @include scale(-1, 1);
                }
            }
        }

        &._hasRsdtData{
            ._text{
                &:after{
                    position: absolute;
                    right: -16px;
                    color: $tkhtd_green;
                    font-family: meterial_design;
                    content: '\e6bb';
                }
            }
        }

        &._displayed_all{
            ._text{
                background: $white;
                cursor: pointer;
            }
        }

        &._displayed_all_ur{
            &._hasUrData{
                ._text:before{ color: $white; }
            }
        }

        &._displayed_all_rsdt{
            &._hasRsdtData{
                ._text:after{ color: $white; }
            }
        }

    }
    
    ._contents_category{
        padding-top: 32px;
    }

    ._contents_year{
        margin-top: 32px;
        text-align: center;
    }

    ._contents_month{
        margin-top: 8px;
    }

    ._data_ur{
        width: 304px;
        text-align: left;
    }

    ._data_residents{
        width: 304px;
        text-align: left;
    }

    .__data{
        &:not(:first-of-type){
            margin-top: 8px;
        }
        p + p{
            margin-top: 0;
        }
    }

    .__material{
        margin-top: 4px;
        font-size: 14px;
        line-height: 24px;
        &:before{
            font-family: meterial_design;
            content: "\e775";
            @extend .text_shadow_white;
        }
        .icon{
            cursor: pointer;
            margin-left: 4px;
            padding: 4px;
            @include border-radius(2px);
            background: rgba($green, .88);
            font-size: 16px;
            color: $white;
            &:hover{
                background: $black4;
                color: $black2;
            }
        }
    }
    
    @media all and (min-width: $min_width){
    
        ._data_ur{
            float: left;
        }
    
        ._data_residents{
            float: right;
        }
        
    }

    @media all and (max-width: $max_width){
    
        ._label_title{
            display: none;
        }
        
        ._contents_category._1{
            padding-top: 64px;
        }
        
        ._data_ur{
            margin-top: 8px;
            .__data{
                &:nth-of-type(1){
                    &:before{
                        // @extend .text_shadow_white;
                        display: inline-block;
                        padding: 2px 4px;
                        background: rgba($ur, .80);
                        color: $white;
                        content: 'UR';
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
    
        ._data_residents{
            margin-top: 8px;
            .__data{
                &:nth-of-type(1){
                    &:before{
                        // @extend .text_shadow_white;
                        display: inline-block;
                        padding: 2px 4px;
                        background: rgba($yellow, .80);
                        content: '住民の会';
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
    }

}

//**************************************************************
// .goodbye
//**************************************************************

.goodbye{
    
    
    
    ._gallery{
    
        
        .__day_indexs{
            position: relative;
            overflow-x: scroll;
            display: grid;
            grid-template-columns: repeat(31, 1fr);
            &:before{
                display: block;
                position: absolute;
                top: 11px;
                width: 100%;
                height: 1px;
                background: $white;
                content: '';
            }
            .___index{
            
                padding-left: 4px;
                padding-right: 4px;
            
                .___text{
                    display: block;
                    position: relative;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    margin-left: auto;
                    margin-right: auto;
                    @include border-radius(50%);
                    background: $tkhtd_green_shadow;
                    border: 2px solid $white;
                    color: $tkhtd_green;
                    font-size: 12px;
                    cursor: pointer;
                    text-align: center;
                }
                
                &._selected{
                    .___text{
                        background: $white;
                    }
                }
            
                @for $i from 1 through 31{ 
                    &._#{$i}{
                        grid-column: #{$i}
                    }
                }
            }
        }
    
        .__contents{
            position: relative;
            .___img{
                display: none;
                padding: 4px;
                border: $white;
                background: rgba($white, .56);
                &._displayed{
                    display: block;
                }
            }
        }
        
        .___btn_navi{
            position: absolute;
            display: block;
            top: 40%;
            background: rgba($green, .87);
            color: $white;
            width: 24px;
            height: 24px;
            text-align: center;
            
            &._disabled{
                background: rgba($gray, .24);
                color: $gray;
            }
            
            &._next{ right: 0; }
            &._prev{ left: 0; }
        }
        
        .__thumbs{
            overflow-x: scroll;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            .___thumb{
                // display: inline-block;
                float: left;
                width: 64px;
                @include box-sizing(border-box);
                background: rgba($white, .56);
                border: 1px solid $white;
                padding: 2px;
                &:not(:first-of-type){
                    margin-left: 8px;
                }
                &._selected{
                    img{ @include opacity(.56); }
                }
            }
        }
        
    }
    
    ._calendar_tab{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        .__year{
            padding-top: 4px;
            padding-bottom: 4px; 
            &._selected{
                background: $white;
            }
        }
    }
    
    ._calendar{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 56px;
        grid-gap: 1px;
        
        @include box-sizing(border-box);
        ._item{
            // border: 1px solid $white;
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            padding-bottom: 4px;
            @include box-shadow(0 0 0 1px $white);
            // background: rgba($tkhtd_green_shadow, .56);
            .icon{
                display: block;
                position: relative;
                width: 28px;
                height: 28px;
                line-height: 28px;
                margin-left: auto;
                margin-right: auto;
                @include border-radius(50%);
                background: $tkhtd_green_shadow;
                border: 2px solid $white;
                color: $tkhtd_green;
                font-size: 16px;
                cursor: pointer;
            }
            &._active{
                cursor: pointer;
                &:hover{
                    background: rgba($white, .88);
                    .icon{
                        background: $white;
                    }
                }
            }
            &._selected{
                background: rgba($white, .56);
                .icon{
                    background: $white;
                }
            }
        }
    }
    
}


//**************************************************************
// .movements
//**************************************************************

.movements{

    ._contents{
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
        &:last-of-type{
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: $white;
                content: '';
            }
        }
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: $white;
            content: '';
        }
    }
    
    .__label{
        position: relative;
        line-height: 16px;
        &:after{
            position: absolute;
            right: 0;
            font-family: meterial_design;
            content: "\e8a1";
            color: $tkhtd_green;
        }
        &._opened{
            &:after{
                content: '';
            }
        }
    }
    .__material{
        margin-top: 4px;
        font-size: 14px;
        line-height: 24px;
        &:before{
            font-family: meterial_design;
            content: "\e775";
            @extend .text_shadow_white;
        }
        .icon{
            cursor: pointer;
            margin-left: 4px;
            padding: 4px;
            @include border-radius(2px);
            background: rgba($green, .88);
            font-size: 16px;
            color: $white;
            &:hover{
                background: $black4;
                color: $black2;
            }
        }
    }
    
    .__imgs{
        
        .___img{
            display: none;
            min-height: 200px;
            max-width: 304px;
            border: 1px solid $white;
            &._opened{
                display: block;
            }
        }
        
    }
    
    @media all and (min-width: $min_width){
        ._contents{
            &:last-of-type{
                &:after{
                    left: 8px;
                    right: 8px;
                }
            }
            &:before{
                left: 8px;
                right: 8px;
            }
        }
    }

    
}

//**************************************************************
// .about_residents
//**************************************************************

.about_residents{

    ._resident{
        
        margin-top: 16px;

        h3, .btn_action{
            vertical-align: middle;
        }

        .__img{
            position: relative;
            width: 224px;
            height: 224px;
        }

        .__contents{
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            border: 1px solid $white;
            @include box-sizing(border-box);
            line-height: 24px;
            dt{
                position: relative;
                margin-top: 8px;
                &:before{
                    color: $white;
                    text-shadow: none;
                    font-family: meterial_design;
                    content: "\e7c3";
                }
            }
        }

    }
    
}

//**************************************************************
// .about_goodbyeur
//**************************************************************

.about_goodbyeur{
    

}

//**************************************************************
// ._contents_modal
//**************************************************************

._contents_modal{

    .__contents{
        display: flex;
        min-height: 80vh;
        background: #ffffff;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .input_page_num{
        width: 56px;
        min-width: 56px;
    }

    .btn_icon{
        display: inline-block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 4px;
        @include border-radius(50%);
        background: rgba($green, .56);
        color: $white;
        line-height: 40px;
        &._disabled{
            background: rgba($white, .24);
            pointer-events: none;
        }
        &:hover{
            background: $black4;
        }
    }

}



    .key_messages-enter-active, .key_messages-leave-active{
        // @include skewY(-2deg);
        transition: opacity 3s, transform 3s, transform 1s;
    }
    .key_messages-enter, .key_messages-leave-to{
        opacity: 0;
        @include transform(translateX(100px) skewY(-2deg))
    }

.outward{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 960px;
    margin-left: -460px;
    border-bottom: 1px solid $white;
    
    

    .cloud{
        position: absolute;
        @include border-radius(50% 50% 0 0/100% 100% 0 0);
        bottom: 0;
        &._1{
            left: 8px;
            width: 200px;
            height: 100px;
            background: rgba($tkhtd_green, .30);
        }
        &._2{
            left: 50px;
            width: 240px;
            height: 120px;
            background: rgba($white, .50);
        }
        &._3{
            left: 200px;
            width: 320px;
            height: 160px;
            background: rgba($beige, .40);
        }
        &._4{
            left: 400px;
            width: 160px;
            height: 80px;
            background: rgba($yellow_shadow, .20);
        }
        &._5{
            left: 536px;
            width: 200px;
            height: 100px;
            background: rgba($white, .80);
        }
        &._6{
            left: 640px;
            width: 160px;
            height: 80px;
            background: rgba($beige, .80);
        }
        &._7{
            right: 80px;
            width: 280px;
            height: 130px;
            background: rgba($tkhtd_green, .30);
        }
        &._8{
            right: 8px;
            width: 200px;
            height: 100px;
            background: rgba($tkhtd_green_shadow, .40);
        }
        
    }


}

.outward-enter-active, .outward-leave-active{
    // @include skewY(-2deg);
    transition: opacity 3s;
}
.outward-enter, .outward-leave-to{
    opacity: 0;
}

.outward_area{
    position: relative;
}

.bubble{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba($white, .5);
    @include border-radius(50%);
    &._yellow{ background: rgba($yellow, .3); }
    &._green{ background: rgba($tkhtd_green_shadow, .3); }
    &._light_green{ background: rgba($tkhtd_green_shadow, .3); }
    &._white{ background: rgba($white, .3); }
    &._beige{ background: rgba($beige, .3); }
}

}