RESEND_API_KEY=re_xxxxxxxxx
CONTACT_FROM_EMAIL=Petite Adventure Films <info@petiteadventurefilms.com>
CONTACT_TO_EMAIL=petiteadventurefilms@gmail.com
STRIPE_SECRET_KEY=sk_test_xxxxxxxxx
WP_API_BASE_URL=https://wporigin.petiteadventurefilms.com/wp/wp-json/wp/v2
