ErrorDocument 503 /maintenance.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !/503.html
  RewriteCond %{REQUEST_FILENAME} !^(.*)\.(jpg|png|css)$
  RewriteCond %{REMOTE_ADDR} !192.168.1.5
  RewriteRule ^.*$ - [R=503,L]
</IfModule>

<IfModule mod_headers.c>
  header set Retry-After 86400
</IfModule>